.instruction-box {
    position: relative;
    width: 100%;
    transition: width 0.2s ease-out;
    border: 0.1vw solid grey;
    z-index: 10;
}

.instruction-button {
    background-color: Transparent;
    color: "grey";
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}

.instruction-button::-moz-focus-inner {
    border: 0;
}

.active,
.instruction-button:hover {
    background-color: "white";
}

.instruction-button:after {
    content: "\25BE";
    color: "grey";
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25B4";
}

.instructions {
    padding: 0 1.8vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: "white";
}